@font-face {
  font-family: 'llbrown-reclinregular';
  src:  url('../fonts/LLBrown-Regular/lineto-brown-reclinregular.eot');
  src:  url('../fonts/LLBrown-Regular/lineto-brown-reclinregular.eot#iefix') format('embedded-opentype'),
  url('../fonts/LLBrown-Regular/lineto-brown-reclinregular.woff') format('woff'),
  url('../fonts/LLBrown-Regular/lineto-brown-reclinregular.woff2') format('woff2');
  //font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'llbrown-reclinregularalt';
  src:  url('../fonts/LLBrown-Regular/lineto-brown-reclinregularalt.eot');
  src:  url('../fonts/LLBrown-Regular/lineto-brown-reclinregularalt.eot#iefix') format('embedded-opentype'),
  url('../fonts/LLBrown-Regular/lineto-brown-reclinregularalt.woff') format('woff'),
  url('../fonts/LLBrown-Regular/lineto-brown-reclinregularalt.woff2') format('woff2');
  //font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'llbrown-regular';
  src:  url('../fonts/LLBrown-Regular/lineto-brown-regular.eot');
  src:  url('../fonts/LLBrown-Regular/lineto-brown-regular.eot#iefix') format('embedded-opentype'),
  url('../fonts/LLBrown-Regular/lineto-brown-regular.woff') format('woff'),
  url('../fonts/LLBrown-Regular/lineto-brown-regular.woff2') format('woff2');
  //font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'llbrown-regularalt';
  src:  url('../fonts/LLBrown-Regular/lineto-brown-regularalt.eot');
  src:  url('../fonts/LLBrown-Regular/lineto-brown-regularalt.eot#iefix') format('embedded-opentype'),
  url('../fonts/LLBrown-Regular/lineto-brown-regularalt.woff') format('woff'),
  url('../fonts/LLBrown-Regular/lineto-brown-regularalt.woff2') format('woff2');
  //font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NeuzeitOffice';
  src:  url('../fonts/NeuzeitOffice/3588CF_0_0.eot');
  src:  url('../fonts/NeuzeitOffice/3588CF_0_0.eot#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitOffice/3588CF_0_0.ttf') format('truetype'),
  url('../fonts/NeuzeitOffice/3588CF_0_0.woff') format('woff'),
  url('../fonts/NeuzeitOffice/3588CF_0_0.woff2') format('woff2');
  //font-weight: normal;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'NeuzeitOffice';
  src:  url('../fonts/NeuzeitOffice/3588CF_1_0.eot');
  src:  url('../fonts/NeuzeitOffice/3588CF_1_0.eot#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitOffice/3588CF_1_0.ttf') format('truetype'),
  url('../fonts/NeuzeitOffice/3588CF_1_0.woff') format('woff'),
  url('../fonts/NeuzeitOffice/3588CF_1_0.woff2') format('woff2');
  //font-weight: bold;
  font-style: normal;
  font-weight: normal;
}

//Variable for default user's system font
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;