body {
  overflow-x: hidden;
  margin-top: 0;
  background-color: $white;

  //Tricks for smoothing font
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  font-family:'llbrown-regular';
  color: $blue-dark;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: $header-title-mobile;
  @include media ($screen-sm) {
    font-size: $header-title-desktop;
  }
}

h2 {
  font-size: $h2-mobile;
  @include media ($screen-sm) {
    font-size: $h2-desktop;
  }
}

a {
  color: $link;
  &:hover {
    color: $link;
    text-decoration: none;
  }
  transition: opacity .3s ease-out;
  @include media ($screen-sm) {
    &:hover {
      opacity: .7;
    }
  }
}

.region-content {
  h1.page-header {
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

#block-staffcloud-account-menu {
  display: none;
}

.main-container {
  overflow-x: hidden;
}

