@import "mixins/mixins.scss";
@import "variables.scss";

.page-node-type-text-page {
  .layout  {
    padding-top: 36px;
  }
  #downScroll {
    display: none !important;
  }
  .header-background {
    background: none;
    height: 150px !important;
    min-height: 150px !important;
    @include media ($screen-sm) {
      min-height: 300px !important;
      height: 300px !important;
    }
    .field--name-field-title {
      margin-bottom: 19px;
    }
  }

  #block-developerheadertext-2 {
    h1 {
      display: none;
    }
    .field--name-body {
      p {
        text-align: center;
        font-size: $text-first;
        font-family: 'llbrown-regular';
        line-height: 1.33;
        color: $blue;
        margin-top: 36px;
        margin-bottom: 16px;
        @include media ($screen-sm) {
          margin-bottom: 0;
          display: none;
        }
      }
    }
  }

  #block-developerheadertext {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    text-align: center;
    max-width: 970px;
    @include media ($screen-sm) {
      top: 150px;
    }
    .field--name-body {
      > h1 {
        line-height: 1.13;
        margin-bottom: 19px;
        color: $color-faq;
      }
      > p {
        display: none;
        line-height: 1.27;
        font-family: 'llbrown-regular';
        color: $white;
        font-size: $lead-mobile;
        @include media ($screen-sm) {
          font-size: $lead;
          display: block;
        }
      }
    }
  }

  .region-header-nav {
    background-color: transparent;
    box-shadow: none;
    #block-sitebranding {
      .field--name-body {
        p {
          a {
            &:before {
              content: url('../images/logo/staffcloud_logo_inverted.svg');
            }
          }
        }
      }
    }
    .language-switcher-language-url {
      ul {
        &:after {
          color: #a4aeb3;
          @include media ($screen-sm) {
            color: $white;
          }
        }
        li.is-active {
          a {
            color: #a4aeb3;
            @include media ($screen-sm) {
              color: $white;
            }
          }
        }
      }
    }
    &.invert-header {
      background-color: $header-invert;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.10);
      #block-sitebranding {
        .field--name-body {
          p {
            a {
              &:before {
                content: url('../images/logo/staffcloud_logo_normal.svg');
              }
            }
          }
        }
      }
      .language-switcher-language-url {
        ul {
          &:after {
            color: #A4AEB3;
          }
          li.is-active {
            a {
              color: #A4AEB3;
            }
          }
        }
      }
    }
  }
}
