html {
  height: 100%; }

body {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  body #downScroll {
    display: none !important; }
  body #block-calltoaction {
    display: none; }
  body .views-element-container {
    background-color: #2D96E4;
    margin-bottom: 0; }
    body .views-element-container .field--name-field-desktop-image img {
      display: none; }
  body .main-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    body .main-container .header-background {
      height: 0;
      min-height: 0; }
    body .main-container .region-content {
      position: relative;
      text-align: center; }
      body .main-container .region-content .page-header {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        border-bottom: none;
        overflow: visible;
        z-index: 1;
        top: 50%;
        height: auto;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      body .main-container .region-content .views-field-nothing span {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        bottom: -60px; }
  body footer {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  body .view-id-page_not_found,
  body .view-access-denied-page {
    max-height: 150px;
    min-height: auto;
    height: 150px; }
    @media screen and (min-width: 768px) {
      body .view-id-page_not_found,
      body .view-access-denied-page {
        max-height: 300px;
        min-height: auto;
        height: 300px; } }
    body .view-id-page_not_found .field--name-field-mobile-image,
    body .view-access-denied-page .field--name-field-mobile-image {
      max-height: 150px;
      min-height: auto;
      height: 150px;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      @media screen and (min-width: 768px) {
        body .view-id-page_not_found .field--name-field-mobile-image,
        body .view-access-denied-page .field--name-field-mobile-image {
          display: none; } }
      body .view-id-page_not_found .field--name-field-mobile-image .field--label,
      body .view-access-denied-page .field--name-field-mobile-image .field--label {
        display: none; }
      body .view-id-page_not_found .field--name-field-mobile-image img,
      body .view-access-denied-page .field--name-field-mobile-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        max-height: 150px;
        min-height: auto;
        height: 150px; }
    body .view-id-page_not_found .field--name-field-desktop-image,
    body .view-access-denied-page .field--name-field-desktop-image {
      display: none; }
      @media screen and (min-width: 768px) {
        body .view-id-page_not_found .field--name-field-desktop-image,
        body .view-access-denied-page .field--name-field-desktop-image {
          display: block;
          max-height: 300px;
          min-height: auto;
          height: 300px;
          -webkit-background-size: cover;
                  background-size: cover;
          background-position: center;
          background-repeat: no-repeat; } }
      body .view-id-page_not_found .field--name-field-desktop-image .field--label,
      body .view-access-denied-page .field--name-field-desktop-image .field--label {
        display: none; }
      body .view-id-page_not_found .field--name-field-desktop-image img,
      body .view-access-denied-page .field--name-field-desktop-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        min-height: auto;
        height: 150px; }
        @media screen and (min-width: 768px) {
          body .view-id-page_not_found .field--name-field-desktop-image img,
          body .view-access-denied-page .field--name-field-desktop-image img {
            min-height: 550px;
            max-height: 700px;
            min-height: auto;
            height: 300px; } }
  body .footer {
    margin-top: 0; }
