//Media queries

@mixin media($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}
@mixin narrow-only($breakpoint) {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}

//Grid
@mixin row-to-percent($property,$row) {
  #{$property}: #{$row / 12 * 100%};
}

//Fullscreen color overlay
@mixin add-overlay($color) {
  &:after,
  &:before {
    content: '';
    display: block;
    background-color: #{$color};
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100vw;
  }
  &:after {
    left: 100%;
  }
  &:before {
    right: 100%;
  }
}

//Position of elements

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}