//Just buttons
.block-block-content1ec942f4-4471-43e8-bc57-cdb17127fe14,
.block-block-content280bdb09-8acd-48f5-b8be-bbe157a58ac7 {
  padding-top: 42px;
  padding-bottom: 50px;
  position: relative;
  @include media ($screen-sm) {
    padding-bottom: 103px;
    padding-top: 85px;
  }
  .field--name-body {
    text-align: center;
    font-size: 0;
    p {
      margin-bottom: 25px;
      @include media ($screen-sm) {
        margin-bottom: 0;
        width: auto;
        display: inline-block;
      }
      a.btn-custom {
        width: auto;
        @include media ($screen-sm) {
          margin: 0 16px;
        }
      }
    }
  }
}

//Dark section with text and buttons
.block-block-contenta3c585e7-bea9-43f5-91cc-fd6a1ecb8b29 {
  padding-top: 70px;
  padding-bottom: 48px;
  background-color: $callform-bg;
  @include media ($screen-sm) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 92px;
  }

  .block-title {
    text-align: center;
    font-size: $lead-mobile;
    color: $green;
    margin-bottom: 40px;
  }

  .field--name-body {
    text-align: center;
    h2 {
      color: $text-white;
      margin-bottom: 58px;
      font-size: 36px;
      @include media ($screen-sm) {
        margin-bottom: 120px;
      }
    }
    > p:first-child {
      text-align: center;
      font-size: $lead-mobile;
      color: #30f8d0;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 25px;
      @include media ($screen-sm) {
        margin-bottom: 0;
        width: auto;
        display: inline-block;
      }
      a.btn-custom {
        width: auto;
        @include media ($screen-sm) {
          margin-left: 27px;
          margin-right: 27px;
        }
      }
    }
  }
}
//hiding PDF-Documentation block
.block-block-contenta3c585e7-bea9-43f5-91cc-fd6a1ecb8b29 + section.block-webform-block {
  display: none;
}