.off-scroll {
  overflow-y: hidden;
}

.region-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: background-color .3s ease-out;
  height: 45px;
  @include media ($screen-sm) {
    height: 80px;
  }

  #block-sitebranding {
    order: 0;
    flex-grow: 10;
    display: flex;
    align-items: center;
    .field--name-body {
      p {
        font-size: 0;
        a {
          &:before {
            //transition: all .3s ease-out;
            content: url('../images/logo/staffcloud_logo_inverted.svg');
            transform: scale(0.65);
            display: inline-block;
            position: relative;
            left: -31px;
            @include media ($screen-sm) {
              //content: url('../images/logo/Logo inverted.png');
              transform: scale(1);
              position: static;
              left: 0;
            }
          }
          @include media ($screen-sm) {
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.open-nav {
    >nav {
      left: 0;
    }
    .language-switcher-language-url {
      left: 0;
    }
    .close-mobile-menu {
      left: 50%;
    }

    .open-mobile-menu {
      z-index: -1;
    }

    .open-mobile-menu,
    .close-mobile-menu {
      > div:nth-child(1) {
        position: relative;
        top: -7px;
        transform: translateY(13px) rotate(45deg);
      }
      > div:nth-child(2) {
        opacity: 0;
      }
      > div:nth-child(3) {
        position: relative;
        top: 7px;
        transform: translateY(-13px) rotate(-45deg);
      }
    }
    > nav,
    .language-switcher-language-url,
    .close-mobile-menu {
      opacity: 1;
      transition: opacity .5s;
    }

  }

  >nav {
    opacity: 0;
    order: 1;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: $header-invert;
    transition: opacity .5s, left 0s .5s;
    @include media ($screen-sm) {
      position: static;
      height: auto;
      width: auto;
      background-color: transparent;
      opacity: 1;
    }
    .menu.nav {
      padding-top: 50px;
      @media (max-width: $screen-sm) and (orientation: landscape) {
        padding-top: 5px;
      }
      @include media ($screen-sm) {
        white-space: nowrap;
        padding-top: 0;
      }

      >li {
        display: block;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 18px;
        @include media ($screen-sm) {
          text-align: left;
          display: inline-block;
          margin-right: 50px;
          padding: 0;
          &:last-child {
            margin-right: 0;
          }
        }
        &.active {
        }
        a {
          color: $dark;
          text-decoration: none;
          font-size: $menu-mobile;
          font-family: 'llbrown-regular';
          padding: 0;
          display: inline-block;
          &::before {
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            height: 1px;
            background: $dark;
            content: '';
            opacity: 0;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            transform: translateY(-10px);
          }
          @include media ($screen-sm) {
            font-size: $menu-desktop;
            &:hover::before,
            &:focus::before {
              height: 2px;
              opacity: 1;
              transform: translateY(0px);
              //border-bottom: 1px solid $dark;
            }
          }
          &:hover {
            background-color: transparent;
          }
          &:focus {
            background-color: transparent;
            outline: none;
          }
        }
      }
    }
  }

  .language-switcher-language-url {
    opacity: 0;
    order: 2;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 310px;
    left: -100%;
    transition: opacity .5s, left 0s .5s;
    @media (max-width: $screen-sm) and (orientation: landscape) {
      top: 205px;
    }
    @include media ($screen-sm) {
      opacity: 1;
      position: static;
      width: auto;
    }
    ul.links {
      cursor: pointer;
      position: relative;
      list-style-type: none;
      -webkit-padding-start: 0;
      margin: 0;
      white-space: nowrap;
      text-align: center;
      li {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: #3FC2AD;
        }
        &.is-active {
          a {
            position: relative;
            &:after {
              display: block;
              content: '';
              position: absolute;
              left: 0;
              bottom: -5px;
              height: 1px;
              width: 100%;
              background-color: #3FC2AD;
              @include media ($screen-sm) {
                display: none;
              }
            }
          }
        }
      }
      @include media ($screen-sm) {
        white-space: nowrap;
        margin-left: 50px;
        text-align: right;
        height: 31px !important;
        &:after {
          display: inline-block;
          content: '\25C0';
          font-size: $text-small - 4px;
          color: $text-white;
          transform: rotate(-90deg);
          transition: all 0.3s ease-out;
        }
        &:hover {
          //&:after {
          //  transform: rotate(0deg);
          //}
          //li {
          //  a {
          //    display: block;
          //  }
          //}
        }

        li {
          margin-right: 0;
          display: none;
          vertical-align: middle;
          height: 27px !important;
          &.is-active {
            display: inline-block;
            a {
              display: inline-block;
              color: $text-white;
              text-decoration: none;
            }
          }
          a {
            display: inline-block;
            color: $text-default;
            text-decoration: none;
            line-height: 1.38;
            font-size: $ancor-text-about;
            padding: 7px;
            @include media ($screen-sm) {
              height: 27px !important;
            }
          }
        }
      }
      &.open {
        &:after {
          transform: rotate(0deg);
        }
      }
    }
  }
  &.invert-header {
    background-color: $header-invert;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.10);
    #block-sitebranding {
      order: 0;
      flex-grow: 10;
      .field--name-body {
        p {
          font-size: 0;
          a {
            &:before {
              content: url('../images/logo/staffcloud_logo_normal.svg');
              transform: scale(0.65);
              display: inline-block;
              position: relative;
              left: -31px;
              @include media ($screen-sm) {
                transform: scale(1);
                position: static;
                left: 0;
                //content: url('../images/logo/Logo normal.png');
              }
            }
          }
        }
      }
    }
    @include media ($screen-sm) {
      .language-switcher-language-url {
        ul {
          &:after {
            color: #A4AEB3;
          }
          li.is-active {
            a {
              color: #A4AEB3;
            }
          }
        }
      }
    }
  }

  //Close button
  .close-mobile-menu {
    opacity: 0;
    position: fixed;
    top: 385px;
    left: -50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: opacity .5s, left 0s .5s;
    @include media ($screen-sm) {
      display: none;
    }
    @media all and (orientation: landscape) {
      top: auto;
      bottom: 10px;
    }
    > div {
      transition: all .3s;
      background-color: #333232;
      height: 1px;
      margin: 5px 0;
      width: 30px;
    }
  }

  //open button
  .open-mobile-menu {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    > div {
      transition: all .3s;
      background-color: #333232;
      height: 1px;
      margin: 5px 0;
      width: 30px;
    }
    @include media ($screen-sm) {
      display: none;
    }
  }
}

.region-header .container-inside {
  .field--name-body h1,
  .field--name-field-title h1{
    color: $head-clr-prices;
    line-height: 1.21;
    @include media($screen-sm) {
      line-height: 1.13;
    }
  }
}


//Pages with invert nav
.page-node-type-job-posting,
.page-node-type-text-page,
.page-node-type-article {
  .region-header-nav {
    @extend .invert-header;
  }
}

//.path-taxonomy {
//  .region-header-nav {
//    #block-sitebranding {
//      height: 45px;
//      @include media ($screen-sm) {
//        height: 57px;
//      }
//      .field--name-body {
//        p {
//          a {
//            &:before {
//              content: url('../images/logo/Logo small-mobile.png');
//            }
//            @include media ($screen-sm) {
//              &:before {
//                content: url('../images/logo/Logo small.png');
//              }
//            }
//          }
//        }
//      }
//    }
//  }
//}

//Position for nav + admin panel
body {
  &.toolbar-horizontal,
  &.toolbar-vertical {
    .region-header-nav {
      top: 39px;
      @include media ($screen-sm) {
        top: 39px;
      }
    }
  }
  &.toolbar-tray-open {
    .region-header-nav {
      @include media ($screen-sm) {
        top: 79px;
      }
    }
  }
}