body {
.header-background {
  position: relative;
  height: calc(100vh - 90px);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  @include media ($screen-sm) {
    height: 550 / 1024 * 100vw;
    min-height: 550px;
    max-height: 700px;
  }

  @include media ($screen-xl) {
    height: 700 / 1440 * 100vw;
  }

  .region-header {
    position: relative;
    height: 100%;

    #downScroll {
      z-index: 99;
      display: block;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      @include media ($screen-sm) {
        display: none;
      }
      &:after {
        content: url('../images/icons/line.svg');
      }
    }

    //Replace drupal's class
    > section[id$="image"] {
      position: static;
      > .contextual {
        top: 40px;
        @include media ($screen-sm) {
          top: 85px;
        }
      }
    }

    .block-block-content86074a1a-c5a6-42f4-be29-f3d85f4cd2af,
    .block-block-content095a7a98-91fd-41d3-92ba-ce06afae28b5,
    .block-block-contenta45b5358-5c40-48d6-8add-a613e35e3f93,
    .block-block-contentee911c0b-75d9-4479-a44b-e7627c364780,
    .block-block-content2e27fb71-18fe-4d00-bf7f-d617164b5300,
    .block-block-contenta45b5358-5c40-48d6-8add-a613e35e3f93,
    .block-block-contenta9ae0dd2-07eb-4964-b56b-852e82a16e27,
    .block-block-contentbdcfcd11-2d64-4e76-b91d-1c6dbe605f2b,
    .block-block-contentc42d85da-d62b-41e1-9c52-0b9e994bf2a8,
    .block-views-blockfeature-title-block-1 {
      z-index: 1;
      position: absolute;
      bottom: 70px;
      left: 0;
      width: 100%;
      height:auto;
      @include media ($screen-sm) {
        bottom: auto;
        top: 55%;
        transform: translateY(-50%);
      }
      @include media ($screen-md) {
        top: 50%;
      }

      .container {
        @include media (1500px) {
          width: 80vw;
        }
      }
      .field--name-body,
      .field--name-field-title {
        @include media ($screen-sm) {
          @include row-to-percent(margin-left,6);
          @include row-to-percent(width,6);
        }
        @include media ($screen-1500) {
          width: 42%;
          margin-left: 58%;
        }
        p {
          font-family:'llbrown-regular';
          display: none;
          font-size: $lead;
          color: $text-white;
          @include media ($screen-sm) {
            display: block;
          }
        }
        h1 {
          text-align: center;
          @include media ($screen-sm) {
            text-align: left;
            margin-bottom: 40px;
          }
        }
      }
    }

    //Product page
    .block-block-contentee911c0b-75d9-4479-a44b-e7627c364780,
    .block-block-content2e27fb71-18fe-4d00-bf7f-d617164b5300,
    .block-block-contenta45b5358-5c40-48d6-8add-a613e35e3f93,
    .block-block-contenta9ae0dd2-07eb-4964-b56b-852e82a16e27,
    .block-block-content095a7a98-91fd-41d3-92ba-ce06afae28b5 {
      .field--name-body,
      .field--name-field-title {
        @include media ($screen-sm) {
          @include row-to-percent(width, 6);
          margin-left: 0;
        }
        @include media ($screen-1500) {
          width: 42%;
        }
      }
    }

    .block-block-contentbdcfcd11-2d64-4e76-b91d-1c6dbe605f2b,
    .block-block-contentc42d85da-d62b-41e1-9c52-0b9e994bf2a8 {
      .field--name-body,
      .field--name-field-title {
        @include media ($screen-md) {
          @include row-to-percent(width, 12);
          margin-left: 0;
        }
        h1 {
          text-align: center;
          margin-bottom: 0;
        }
      }
    }

    .block-block-content095a7a98-91fd-41d3-92ba-ce06afae28b5 {
      .field--name-body,
      .field--name-field-title {
        @include media ($screen-sm) {
          @include row-to-percent(width, 5);
          margin-left: 0;
        }
        @include media ($screen-1500) {
          width: 42%;
        }
      }
    }
      .field--name-field-mobile-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px);
        background-size: cover;
        @include media ($screen-sm) {
          display: none;
        }
        .field--label {
          display: none;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100vh - 90px);
          object-fit: cover;
        }
      }
      .field--name-field-desktop-image {
        display: none;
        @include media ($screen-sm) {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
        .field--label {
          display: none;
        }
        img {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          object-fit: cover;
          @include media ($screen-sm) {
            height: 550 / 1024 * 100vw;
            min-height: 550px;
            max-height: 700px;
          }
          @include media ($screen-xl) {
            height: 700 / 1440 * 100vw;
            //max-height: 700px;
          }
        }
      }
  }
}
}

//hiding sections under header-background on mobile view
.block-region-content .block-block-contentee911c0b-75d9-4479-a44b-e7627c364780,
.block-region-content .block-block-contentbcc3e5c2-fece-4ccc-9a67-74e07e6b04be,
.region-content .block-block-content2e27fb71-18fe-4d00-bf7f-d617164b5300,
.block-region-content .block-block-content095a7a98-91fd-41d3-92ba-ce06afae28b5,
.block-region-content .block-block-content86074a1a-c5a6-42f4-be29-f3d85f4cd2af {
  .field--name-body,
  .field--name-field-title {
    text-align: center;
    h1 {
      display: none;
    }
    p {
      font-size: $text-first;
      font-family: 'llbrown-regular';
      line-height: 1.33;
      color: $green;
      margin-top: 36px;
      margin-bottom: 16px;
      @include media ($screen-sm) {
        margin-bottom: 0;
      }
    }
  }
  @include media($screen-sm) {
    display: none;
  }
}
//hiding sections under header-background on mobile view on Catering page.
.layout--onecol {
  .field--name-field-term-description {
    text-align: center;
    p {
      font-size: $text-first;
      font-family: 'llbrown-regular';
      line-height: 1.33;
      color: $green;
      margin-top: 36px;
    }
    @include media($screen-sm) {
      display: none;
    }
  }
  .field--name-field-branch-big-icon {
    text-align: center;
    margin-top: 40px;
    @include media($screen-sm) {
      margin-top: 50px;
    }
    img {
      display: inline-block;
    }
  }

}

.block-region-content .block-block-contentee911c0b-75d9-4479-a44b-e7627c364780 {
  .field--name-body,
  .field--name-field-title {
    p {
      color: $blue;
    }
  }
}
//hiding sections under header-background on mobile view faq
#block-faq {
  p {
    display: none;
    @include media($screen-sm) {
      display: block;
    }
  }
}


.block-region-content .block-block-contenta9ae0dd2-07eb-4964-b56b-852e82a16e27 {
  display: none;
}


//Header img position

//About page
.block-block-content3ac0a65c-3e58-4554-ba21-8dc5d60bc36c {
  .field--name-field-desktop-image {
    background-position: 90% !important;
  }
}

//Demo page
.block-block-content6d3b3886-f932-4fe5-bc78-6d7e2b6a5b9e {
  .field--name-field-desktop-image {
    background-position: 45% !important;
  }
}

.block-block-content44c9c344-44c8-498c-b8e7-96085f0c9e8e {
  .field--name-field-desktop-image {
    background-position: 45% !important;
  }
}


//Styles for extra headers (small and etc)
body{
  &.path-node,
  &.path-faq,
  &.path-blog {
    //Hide scroll arrow for small headers
    #downScroll {
      display: none !important;
    }
    .header-background {
      max-height: 150px;
      min-height: auto;
      @include media ($screen-sm) {
        max-height: 300px;
      }
      .region-header .field--name-field-desktop-image,
      .region-header .field--name-field-mobile-image {
        min-height: auto;
        height: 150px;
        @include media ($screen-sm) {
          min-height: auto;
          height: 300px;
        }
      }
      .block-block-contentbdcfcd11-2d64-4e76-b91d-1c6dbe605f2b,
      .block-block-contentc42d85da-d62b-41e1-9c52-0b9e994bf2a8,
      .block-block-contentbcc3e5c2-fece-4ccc-9a67-74e07e6b04be,
      .block-views-blockfeature-title-block-1 {
        top: 55%;
        left: 0;
        bottom: auto;
        transform: translateY(-50%);
      }
      .block-views-blockfeature-title-block-1 {
        .views-field-title {
          text-align: center;
          color: $head-clr-prices;
          font-size: $header-title-mobile;
          font-family: "llbrown-regular";
          @include media ($screen-sm) {
            font-size: $header-title-desktop;
          }
        }
      }
    }
  }
}

.path-taxonomy {
  .view-branch-header-image {
    .container.wrapper-text {
      @include media ($screen-1500) {
        width: 80vw;
      }
    }
    > .contextual {
      top: 85px !important;
    }
    .views-field-field-branch-image,
    .views-field-field-branch-mobile-image {

    }
    .views-field-field-branch-image {
      .field-content {
        //position: absolute;
        //top: 0;
        //left: 0;
        //width: 100%;
        background-position-x: center;
        background-size: cover;
        @include media ($screen-sm) {
          height: 550 / 1024 * 100vw;
          min-height: 550px;
          max-height: 700px;
        }
        @include media ($screen-xl) {
          height: 700 / 1440 * 100vw;
        }
      }
      @include media ($screen-sm) {
        display: block;
      }
    }
    .views-field-field-branch-mobile-image {
      display: block;
      .field-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px);
        background-size: cover;
      }
      @include media ($screen-sm) {
        display: none;
      }
    }
    .term-header-wrapper {
      position: relative;
    }
    .wrapper-text {
      position: absolute;
      bottom: 70px;
      left: 0;
      height: auto;

      @include narrow-only ($screen-sm) {
        width: 100%;
        text-align: center;
      }

      @include media ($screen-sm) {
        left: 50%;
        bottom: auto;
        top: 55%;
        transform: translate(-50%, -50%);
        text-align: left;
      }
      @include media ($screen-md) {
        top: 50%;
      }
      .views-field {
        @include media ($screen-sm) {
          @include row-to-percent(margin-right, 6);
          @include row-to-percent(width, 6);
        }
      }
      p {
        font-family: 'llbrown-regular';
        display: none;
        font-size: $lead;
        color: $text-white;
        @include media ($screen-sm) {
          display: block;
        }
      }
      h1, h2, span {
        text-align: center;
        font-family: 'llbrown-regular';
        font-size: $header-title-mobile;
        color: $head-clr-prices;
        line-height: 1.13;
        @include media ($screen-sm) {
          font-size: $header-title-desktop;
          text-align: left;
          margin-bottom: 40px;
          display: inline-block;
        }
      }
    }
  }
  .region-header {
    .block-views-blockbranch-header-image-block-1,
    .view-branch-header-image {
      &.contextual-region {
        position: static;
      }
    }
  }
}

//Pages without image in header
//hiding header for different pages
.page-node-type-job-posting .header-background,
.page-node-type-text-page .header-background,
.page-node-type-article .header-background {
  background: none;
  height: 0 !important;
  min-height: 0 !important;
}

//Header color for pages
//Green
.path-frontpage,
.path-prices,
.path-blog {
  .header-background {
    background-color: $green;
  }
}

//Blue
.path-about,
.path-product,
.path-faq,
.page-node-type-text-page,
.path-webform {
  .header-background {
    background-color: $blue !important;
  }
}

//Red
.path-taxonomy {
  .header-background {
    background-color: #f07261;
  }
}