.block-views .block-views-blockproduct-features-block-1 {
  > div {
    @include media($screen-sm) {
      @include row-to-percent(width,12);
    }
  }
}

.page-node-type-product-feature {
  .field--name-field-feature-content {
    > .field--item {
      padding-bottom: 86px;
      @include media ($screen-sm) {
        padding-bottom: 133px;
      }
      .paragraph--type--feature-content {
        display: flex;
        flex-direction: column;

        /* Mobile */
        > .feature-text-wrapper,
        > .wrapper-text,
        > div {
          order: 0;
          display: flex;
          flex-direction: column;
          .field--name-field-feature-title {
            font-size: 28px;
            font-family: 'llbrown-regular';
            color: #004A56;
            font-weight: normal;
            line-height: 1.21;
            @include media($screen-sm) {
              font-size: 38px;
              line-height: 1.05;
            }
          }
          .field--name-node-title,
          .field--name-field-feature-title {
            order: 0;
            margin-bottom: 27px;
            text-align: center;
            @include media ($screen-sm) {
              margin-bottom: 35px;
              text-align: left;
            }
            h2 {
              margin: 0;
              line-height: 1.21;
              @include media($screen-sm) {
                line-height: 1.05;
              }
            }
          }
          .field--name-field-body {
            order: 1;
            text-align: center;
            font-size: $body-mobile;
            color: $text-light;
            line-height: 1.63;
            @include media ($screen-sm) {
              text-align: left;
              font-size: $body-desktop;
              line-height: 1.37;
            }
          }
          .links {
            order: 2;
            text-align: center;
            margin-bottom: 20px;
            @include media ($screen-sm) {
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
        .field--name-field-feature-image {
          order: 1;
          img {
            margin-right: auto;
            margin-left: auto;
          }
        }

        /* Desktop */
        @include media ($screen-sm) {
          display: flex;
          flex-direction: row;
          .field--name-field-feature-image {
            width: 50%;
            order: 0;
          }
          > div:last-child {
            width: 50%;
            order: 1;
          }
        }
      }
      @include media ($screen-sm) {
        &:nth-child(odd) {
          .paragraph--type--feature-content {
            .field--name-field-feature-image {
              padding-right: 10px;
            }
            > div:last-child {
              padding-left: 10px;
            }
          }
        }
        &:nth-child(even) {
          .paragraph--type--feature-content {
            .field--name-field-feature-image {
              padding-left: 10px;
              order: 1;
            }
            > div:last-child {
              padding-right: 10px;
              order: 0;
            }
          }
        }
      }
    }
    > .field--item:first-child {
      padding-top: 40px;
      @include media ($screen-sm) {
        padding-top: 114px;
      }
    }
  }
}
