.block-block-contentaa0e63a3-899f-4274-b683-dc6aab557da0 {
  padding: 32px 0 20px;
  @include media ($screen-sm) {
    padding: 90px 0 88px;
    position: relative;
    background-color: $white;
  }
  .block-title {
    margin-bottom: 50px;
    text-align: center;
    font-size: $body-mobile;
    color: $text-light;
    font-weight: normal;
    font-family: "NeuzeitOffice";
    @include media ($screen-sm) {
      margin-bottom: 100px;
      font-size:$body-desktop;
    }
  }
  .field--type-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: .5;
    .field--item {
      @include row-to-percent(width,2);
      @include row-to-percent(margin-left,0.5);
      @include row-to-percent(margin-right,0.5);
      margin-bottom: 50px;
      @include media ($screen-sm) {
        margin-bottom: 60px;
        @include row-to-percent(width,1.7);
        @include row-to-percent(margin-left,0.46);
        @include row-to-percent(margin-right,0.46);
      }
    }
  }
}