.block-webform-block {
  padding-top: 63px;
  padding-bottom: 120px;
  .form-type-webform-markup{
    h2 {
      font-size: $lead-mobile;
      text-align: center;
      margin-bottom: 20px;
      @include media ($screen-sm) {
        font-size: $lead-desktop;
      }
    }
    &#edit-markup-01,
    &#edit-markup-01--2 {
      margin-bottom: 0;
      @include media ($screen-sm) {
        margin-top: 0;
      }
    }
  }
}

form.webform-submission-pdf_documentation-form,
form.webform-submission-pdf-documentation-form {
  display: flex;
  flex-wrap: wrap;
  @include row-to-percent(width,10);
  margin-left: auto;
  margin-right: auto;
  .form-type-webform-markup {
    text-align: center;
    font-size: $body-mobile;
    margin-bottom: 40px;
    width: 100%;
    @include media ($screen-sm) {
      margin-bottom: 70px;
      font-size: $body-desktop;
    }
  }
  .form-type-textfield,
  .form-type-tel,
  .form-type-email {
    width: 100%;
    margin-bottom: 30px;
    @include media ($screen-sm) {
      width: 50%;
      &.form-item-firm,
      &.form-item-e-mail {
        padding-right: $gutter-width / 2;
      }
      &.form-item-name,
      &.form-item-telephone {
        padding-left: $gutter-width / 2;
      }
    }
    label {
      display: none;
    }
    input {
      width: 100%;
      &:focus {
        border-color: $product-color;
      }
    }
  }
  .form-actions {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    @include media ($screen-sm) {
      text-align: right;
    }
    button {
      margin-right: 0;
    }
  }
}
//demo page webform start
.path-webform {
  .region-content {
    form {
      @include media($screen-sm) {
        @include row-to-percent(width,10);
      }
      @include media($screen-md2) {
        width: 780px;
        padding-right: 0;
        padding-left: 0;
      }
      #edit-markup {
        line-height: 1.37;
        margin-bottom: 81px;
        margin-top: 89px;
      }
      label {
        display: none;
      }
      input {
        border-radius: 0;
        line-height: 1.37;
        font-family: 'NeuzeitOffice';
        &::placeholder,
        &:placeholder-shown {
          line-height: 1.37;
          font-family: 'NeuzeitOffice';
        }
      }
      textarea {
        border-radius: 0;
        border-color: $webform-border;
        font-size: $body-mobile;
        @include media ($screen-sm) {
          font-size: $body-desktop;
        }
      }
      .js-form-item-firm,
      .form-item-branch-select {
        margin-bottom: 23px;
        @include media ($screen-sm) {
          margin-bottom: 35px;
        }
      }

      #edit-demo-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        @include media ($screen-sm) {
          justify-content: center;
        }
        .form-type-textfield,
        .form-type-tel,
        .form-type-email {
          width: 100%;
          margin-bottom: 23px;
          @include media ($screen-sm) {
            margin-bottom: 35px;
          }
          @include media ($screen-sm) {
            width: 50%;
            &.form-item-firm,
            &.form-item-name,
            &.form-item-email {
              padding-right: $gutter-width / 2;
            }
            &.form-item-telephone,
            &.form-item-number-of-employees {
              padding-left: $gutter-width / 2;
            }
          }
          input {
            width: 100%;
            &:active,
            &:focus {
              border-color: $green;
            }
          }
        }
      }

      .form-item-branch-select {
        .select-wrapper:after {
          display: none;
        }
        .select-wrapper:before {
          content: '';
          display: block;
          z-index: 1;
          position: absolute;
          top: 23px;
          right: 23px;
          border: 5px solid transparent;
          border-top: 5px solid $webform-border;
        }
        select {
          position: relative;
          height: 50px;
          border-radius: 0;
          color: #000;
          border-color: $webform-border;
          font-size: $body-mobile;
          @include media ($screen-sm) {
            font-size: $body-desktop;
          }
        }
      }
      //button start
      #edit-actions {
        text-align: right;
        margin-bottom: 164px;
        background: none;
        float: right;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-top: 40px;
        @include media ($screen-xs) {
          width: auto;
        }
        button {
          min-width: 230px;
          margin-right: 0;
          display: inline-block;
          width: 100%;
          text-align: center;
          background-color: #00ebc5 !important;
          color: $text-btn;
          text-decoration: none;
          padding: 0.9em 1em 0.7em;
          font-size: $body-mobile;
          font-family: 'NeuzeitOffice';
          border-radius: 0;
          border: none;
          @include media ($screen-sm) {
            font-size: $lead-mobile;
            padding: 17px 30px 13px;
          }
          @include media ($screen-xs) {
            width: auto;
          }
          &:hover {
            color: $text-btn;
            text-decoration: none;
          }
        }
      }
    }
  }
}


form.webform-submission-form {
  input,
  textarea {
    color: #000;
  }
  input:active,
  input:focus,
  textarea:focus,
  textarea:active {
    border-color: $product-color;
  }
  input.form-control,
  select {
    padding: 11px 21px 13px 17px;
    @include media($screen-sm) {
      padding-right: 29px;
    }
  }
  textarea {
    padding: 15px 21px 21px 17px;
    min-height: 241px;
  }
  input.form-control.small-input {
    padding: 11px 21px 13px 17px;
  }
  #edit-actions-submit {
    &:hover {
      opacity: .7;
    }
  }
}