body {
  font-family: "NeuzeitOffice", $f-sans-serif;
  font-size: $body-mobile;
  color: $gray;
  @include media ($screen-640) {
    font-size: $body-desktop;
  }
}

.path-blog {
  background-color: $lightgrey;
  .block-views-blocksearch-article-block-1 {
    > div {
      @include row-to-percent(width,10);
      margin-right: auto;
      margin-left: auto;
      //@include media ($screen-sm) {
      //  padding-left: $gutter-width / 2;
      //}
    }
  }
  .block-region-content {
    .block-block-contentbdcfcd11-2d64-4e76-b91d-1c6dbe605f2b {
      h1 {
        display: none;
      }
    }
  }
  .view-content > .views-row:first-child {
    margin-top: 78px;
  }
  .views-row {
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
    margin-bottom: 5%;
    padding-bottom: 5%;
    position: relative;
    @include media($screen-md2) {
      padding-bottom: 52px;
      margin-bottom: 50px;
    }
    > div {
      padding: 0 5%;
      @include media($screen-md2) {
        padding: 0 45px;
      }
    }
    .views-field-field-image {
      width: 100%;
      order: 1;
      padding: 0;
      .field-content {
        img {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
    div.article-information {
      //padding-bottom: 21px;
      width: 100%;
      order: 3;
      font-size: $text-small;
      line-height: 1.29;
      > div {
        float: left;
        width: fit-content;
        .field-content {
          display: inline-block;
        }
      }
      .views-field-uid {
        span a,
        span a:hover {
          color: $gray;
          text-decoration: none;
        }
      }
      .views-field-uid:before,
      .views-field-field-article-category:before {
        content: ' - ';
        white-space: pre
      }
      .views-field-field-article-category {
        span {
          font-weight: bold;
        }
      }
      .views-field-field-article-category div:only-child {
        display: inline-block;
        font-weight: bold;
      }
    }
    .views-field-title {
      padding-top: 27px;
      padding-bottom: 15px;
      width: 100%;
      order: 2;
      @include media($screen-md2) {
        padding-top: 37px;
        padding-bottom: 25px;
      }
      span {
        color: $color-first;
        font-family: "llbrown-regularalt", $f-sans-serif;
        font-size: $h2-mobile;
        line-height: 1.05;
        @include media($screen-640) {
          font-size: $h2-desktop;
        }
      }
    }
    .views-field-body {
      width: 100%;
      order: 4;
      padding-top: 21px;
      @include media($screen-md2) {
        padding-top: 21px;
      }
      h3 {
        font-size: $body-mobile;
        font-weight: normal;
        color: $text-light;
        font-family: "NeuzeitOffice";
        line-height: 1.42857143;
        letter-spacing: normal;
        @include media ($screen-640) {
          font-size: $body-desktop;
        }
      }
    }
    .views-field-nothing-1 {
      order: 5;
    }
    .views-field-nothing {
      padding: 0;
      @include media ($screen-sm) {
        &:hover + .views-field-body {
          a {
            opacity: .7;
          }
        }
      }
      a {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  //bottom navigation
  .pager-nav {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
  nav.pager-nav > ul {
    float: left;
    -webkit-padding-start: 0px;
    margin-left: 0;
    li.pager__item > a {
      width: 20%;
      height: 20%;
      color: $gray;
      font-size: $body-mobile + 1px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    li.pager__item--last,
    li.pager__item--first {
      display: none;
      a {
        width: 30%;
      }
    }
    .pager__item--previous {
      > a {
        margin-left: 0;
        margin-right: 4px;
      }
      span[aria-hidden="true"]:before {
        content: '\2190';
        display: inline-block;
        margin-right: 6px;
      }
    }
    .pager__item--next {
      span[aria-hidden="true"]:after {
        content: '\2192';
        display: inline-block;
        margin-left: 6px;
      }
    }

    li.pager__item > a[title="Current page"],
    li.pager__item > a[title="Aktuelle Seite"] {
      color: $white;
      background-color: $green;
      border-color: transparent;
      border-radius: 0;
    }
  }
  //'Catigories' section start
  .block-facet-blockarticle-category {
    //max-width: 780px;
    //margin-left: auto;
    //margin-right: auto;
    //padding-left: 0;
    //padding-right: 0;
    .first-wrapper {
      @include row-to-percent(width,10);
      margin-right: auto;
      margin-left: auto;
    }
    .second-wrapper {
      max-width: 780px;
      margin-left: auto;
      margin-right: auto;
    }
    .facets-container {
      background-color: $white;
      border: 1px solid lightgrey;
      //@include row-to-percent(margin-left,1);
      font-size:$menu-desktop;
      padding-left: 27px;
      margin-top: 35px;
      //@include media ($screen-sm) {
      //  margin-left: calc(8.33333% + #{$gutter-width/2});
      //}
      @include media($screen-sm) {
        //margin-left: -6px;
      }
    }
    h2 {
      font-family: "NeuzeitOffice", $f-sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: $gray;
      margin: 27px 0;
    }
    ul {
      -webkit-padding-start: 0px;
      padding-bottom: 26px;
      margin-top: -10px;
      li {
        list-style-type: none;
        a {
          line-height: 1.53;
          font-size: 17px;
          text-decoration: none;
          color: $gray;
          .facet-item__count {
            padding-left: 6px;
          }
        }
      }
    }
  }
}
//rewrite theme's styles
.pagination {
  li {
    a, span {
      float: none;
      padding: 13px 15px 10px;
      margin-left: -6px;
    }
  }
}

