
.path-webform {
  .region-content {
    .page-header {
      display: none;
    }
  }
  #webform-submission-contact-add-form {
    margin: 0 auto;
    #edit-contact-text {
      text-align: left;
      font-family: 'llbrown-regular';
      line-height: 1.27;
      font-size: $lead;
      color: $blue-dark;
      margin-top: 68px;
      margin-bottom: 68px;
    }
    label {
      display: none;
    }
    #edit-actions {
      text-align: right;
      margin-bottom: 74px;
      background: none;
      float: right;
      width: 100%;
      @include media ($screen-xs) {
        width: auto;
      }
      #edit-actions-submit {
        margin-right: 0;
        border-radius: 0;
        background-color: $green-dark;
        border-color: transparent;
      }
    }
    #edit-personal-information {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 22px;
      .form-type-textfield,
      .form-type-tel,
      .form-type-email {
        width: 100%;
        margin-bottom: 23px;
        @include media ($screen-sm) {
          margin-bottom: 35px;
        }
        @include media ($screen-sm) {
          width: 50%;
          &.form-item-firm,
          &.form-item-email {
            padding-right: $gutter-width / 2;
          }
          &.form-item-name,
          &.form-item-telephone {
            padding-left: $gutter-width / 2;
          }
        }
        input {
          width: 100%;
          &:active,
          &:focus {
            border-color: $green;
          }
        }
      }
    }
    .form-item-message {
      margin: 0 auto;
      .form-textarea-wrapper {
        margin-top: -22px;
        #edit-message {
          overflow: hidden;
          border-radius: 0;
          line-height: 1.37;
          font-family: 'NeuzeitOffice';
          &::placeholder,
          &:placeholder-shown {
            line-height: 1.37;
            font-family: 'NeuzeitOffice';
          }
        }
      }
    }
  }
}
#block-welookforwardtoyou {
  display: flex;
  flex-direction: column;
  @include media($screen-sm) {
    @include row-to-percent(width,10);
  }
  @include media($screen-md2) {
    width:780px;
    padding-right: 0;
    padding-left: 0;
  }
  .block-title,
  .field--name-field-title h2{
    color: $green-dark;
    line-height: 1.12;
    font-size: $h2-contact-page;
    order: 0;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 0;
  }
  > div {
    order: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .field--name-body {
      order: 1;
      text-align: center;
      line-height: 1.37;
      margin-top: 32px;
      margin-bottom: 60px;
    }
    .field--name-field-information-image {
      order: 0;
      > img {
        margin: 0 auto;
      }
    }
  }
}
