.path-faq {
  .region-content {
    .block-block-contentbcc3e5c2-fece-4ccc-9a67-74e07e6b04be {
      @include media ($screen-sm) {
        display: none;
      }
      h2 {
        display: none;
      }
    }
    .block-region-content {
      .container {
        max-width: 970px;
      }
    }
  }
  #edit-actions {
    //display: none;
  }
  #block-staffcloud-account-menu {
    //display: block;
  }
  #block-faq {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    .field--name-body,
    .field--name-field-title {
      text-align: center;
      h1 {
        line-height: 1.13;
        margin-bottom: 19px;
        color: $color-faq;
      }
      p {
        line-height: 1.27;
        font-family: 'llbrown-regular';
        white-space: nowrap;
        color: $white;
        font-size: $lead-mobile;
        @include media ($screen-sm) {
          font-size: $lead;
        }
      }
    }
  }

  .view-filters.form-group {
    margin-bottom: 0;
  }

  .block-views-blockfaq-block-1 {
    .faq-categories-filter-wrapper {
      margin-top: 75px;
      margin-bottom: 51px;
      .filter-items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include media($screen-sm) {
          flex-wrap: nowrap;
        }
        .filter-item {
          margin-right: 45px;
          margin-top: 10px;
          margin-bottom: 10px;
          @include media($screen-sm) {
            margin-bottom: 0;
            margin-top: 0;
          }
          a {
            cursor: pointer;
            line-height: 1.29;
            font-size: $text-small;
            color: $color-location;
            &.filter-link.active-filter {
              font-weight: bold;
            }
            &.filter-link {
              font-weight: normal;
            }
          }
        }
        .filter-item:last-child {
          margin-right: 0;
        }
      }
    }
    form {
      display: none;
    }
  }
  .views-row {
    border: 1px solid lightgray;
    border-bottom: none;
    padding: 2.875%;
    @include media($screen-sm) {
      padding: 24px 0 21px 33px;
    }
    .views-field-field-question,
    .views-field-field-question2 {
      position: relative;
      padding-right: 10.649%; //padding-right: $gutter-width*5;
      color: $blue-dark;
      font-family: "NeuzeitOffice", $f-sans-serif;
      font-weight: normal !important;
      font-size: $faq-question-mobile;
      cursor: pointer;
      @include media ($screen-sm) {
        font-size: $faq-question-desktop;
        padding-right: 100px;
      }
    }
    .views-field-field-question:before {
      @include absolute-vertical-center;
      right: 2.6%;
      display: block;
      content: "?";
      color: $green;
      font-size: $icons-mobile;
      transition: transform .4s linear;
      @include media ($screen-sm) {
        font-size: $icons-desktop;
        right: 27px;
      }
    }
    .views-field-field-question2:before {
      display: block;
      content: "?";
      position: absolute;
      top: 50%;
      right: 2.6%;
      transform: translate(0, -50%) scale(-1, 1);
      transition: transform .4s linear;
      color: #d5d5d5;
      font-size: $icons-mobile;
      @include media ($screen-sm) {
        font-size: $icons-desktop;
        right: 27px;
      }
    }
    .views-field-field-question:hover {
      color: $blue;
      &:before {
        color: $blue;
      }
    }

    //.is-visited {
    //  color: $blue;
    //  &:before {
    //    color: $blue;
    //  }
    //}

    .views-field-field-answer {
      padding: 3.472% 11.368% 0; //padding: 40px 100px 0;
      display: none;
      font-size: $body-mobile;
      @include media ($screen-sm) {
        font-size: $body-desktop;
        padding: 31px 136px 25px 102px;
      }
    }
  }
  .views-row:last-child {
    border-bottom: 1px solid lightgray;
  }
  .view-content {
    margin-bottom: 100px;
    @include media ($screen-sm) {
      margin-bottom: 220px;
    }
  }
}
