.path-frontpage {
  .block-block-content6da48de4-6b2e-493c-abbf-03f3609a6eeb {
    max-width: 780px;
    .field--name-body {
      width: 100%;
      color: $blue-dark;
      font-family: 'NeuzeitOffice';
      font-size: $lead-mobile;
      line-height: 1.33;
      margin-bottom: 79px;
      margin-top: 20px;
      text-align: center;
      @include media($screen-sm) {
        font-family: 'llbrown-regular';
        font-size: $lead;
        text-align: left;
        line-height: 1.27;
        margin-bottom: 54px;
        margin-top: 68px;
      }
    }
  }
}