.page-node-type-text-page {

  .layout {
    padding-top: 66px;
    max-width: 970px;
    @include media($screen-sm) {
      padding-top: 150px;
    }
  }
  .field--name-node-title {
    h2 {
      line-height: 1.21;
      margin-bottom: 42px;
      @include media($screen-sm) {
        line-height: 1.05;
        margin-bottom: 50px;
      }
    }
  }

  .field--name-body {

    h3,h2 {
      margin-bottom: 18px;
      font-family: 'NeuzeitOffice';
      line-height: 1.25;
      color: $color-first;
      font-size: 22px;
    }
    p {
      line-height: 1.42;
    }
    p + h3,
    p + h2,
    ul + h3,
    ul + h2 {
      margin-top: 50px;
    }

    ul {
      margin-top: 20px;
      -webkit-padding-start: 20px;
    }
    img {
      max-width: 100%;
      margin-top: 30px;
      margin-bottom: 35px;
      @include media($screen-sm) {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
    img + p {
      display: none;
    }
  }
}