input {
  &.form-control {
    height: 50px;
    border: 1px solid #A4AEB3;
    background-color: $form-bg;
    border-radius: 0;
    font-size: $body-mobile;
    color: $text-default;
    box-shadow: none;
    @include media ($screen-sm) {
      font-size: $body-desktop;
    }
  }
}

.form-control {
  box-shadow: none;
}